@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root
{
	--color_red: #d22424;
	--color_light_red: #f1d6d6;
	--color_dark_red: #420a0a;

	--font_family_sans_serif: "Noto Sans", sans-serif;
	--font_family_serif: "Lora", serif;

	--border_radius: 5px;
}

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, button
{
	font-family: var(--font_family_sans_serif);
}

h1, h2, h3, h4, h5, h6
{
	font-family: var(--font_family_serif);
	color: var(--color_dark_red);
	margin: 0.5rem 0;
}

img
{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.Reading_Container
{
	margin-inline: auto;
	width: min(90%, 900px);
}

.Recipes_Container
{
	display: grid;
	grid-template-columns: repeat(auto-fit, 400px);
	gap: 2rem;
	margin: 1rem 0;
}

.Recipe_Button
{
	padding: 0.8rem;
	font-size: 1.2rem;
	border: 2px solid white;
	background-color: transparent;
	color: var(--color_dark_red);
	cursor: pointer;
}

.Recipe_Button:hover
{
	outline: 2px solid var(--color_dark_red);
}

.Recipe_Image
{
	height: 130px;
	margin: 1rem 0;
}

.Recipe_Categories
{
	list-style-type: none;
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
}

.Recipe_Category
{
	background-color: var(--color_light_red);
	color: var(--color_dark_red);
	border-radius: var(--border_radius);
	padding: 0.3rem 0.6rem;
}

.Page_Footer
{
	margin-top: 3rem;
}

.Page_Footer_Container
{
	padding: 1rem 0;
	border-top: 1px solid var(--color_dark_red);
}
