@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
	--color_light_red: #f1d6d6;
	--color_dark_red: #420a0a;

	--font_family_sans_serif: "Noto Sans", sans-serif;
	--font_family_serif: "Lora", serif;

	--border_radius: 5px;
	--border_dark_red: 1px solid var(--color_dark_red);

	font-size: clamp(14px, 2vw, 16px);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::selection {
	background-color: var(--color_light_red);
	color: var(--color_dark_red);
}

body, button {
	font-family: var(--font_family_sans_serif);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font_family_serif);
	color: var(--color_dark_red);
	margin: 0.5rem 0;
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

button {
	padding: 0.8rem;
	font-size: 1.2rem;
	border: 2px solid white;
	background-color: transparent;
	color: var(--color_dark_red);
	cursor: pointer;
	border-radius: var(--border_radius);
}

button:hover {
	outline: 2px solid var(--color_dark_red);
}

.Reading_Container {
	margin-inline: auto;
	width: min(90%, 950px);
}

.Page_Header {
	position: sticky;
	top: 0;
	background-color: white;
	border-bottom: var(--border_dark_red);
	padding: 1rem 0;
	margin-bottom: 3rem;
	display: flex;
	justify-content: center;
}

.Page_Header_Logo {
	color: var(--color_dark_red);
	font-family: var(--font_family_serif);
	font-size: 1.2rem;
	font-weight: bold;
}

.Recipes_Container {
	display: grid;
	grid-template-columns: repeat(auto-fit, min(90%, 400px));
	gap: 2rem;
	margin: 1rem 0;
	justify-content: center;
}

.Recipe_Image {
	height: 150px;
	margin: 1rem 0;
	border-radius: var(--border_radius);
}

.Recipe_Categories {
	list-style-type: none;
	margin-top: 1rem;
	display: flex;
	gap: 0.5rem;
}

.Recipe_Category {
	background-color: var(--color_light_red);
	color: var(--color_dark_red);
	border-radius: var(--border_radius);
	padding: 0.3rem 0.6rem;
}

.Page_Footer {
	margin-top: 3rem;
	margin-bottom: 5rem;
}

.Page_Footer_Container {
	padding: 1rem 0;
	border-top: var(--border_dark_red);
}

.Tool_Bar {
	background-color: var(--color_dark_red);
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0.5rem;
}

.Tool_Bar_Container {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	position: relative;
}

.Tool_Bar_Button {
	color: white;
	border: 2px solid var(--color_dark_red);
}

.Tool_Bar_Button:hover {
	outline: 2px solid white;
}

.Account {
	position: absolute;
	left: 0;
	display: flex;
	gap: 1rem;
	align-items: center;
}

.Account_Image {
	--size: 40px;
	border-radius: var(--border_radius);
	width: var(--size);
	height: var(--size);
}

@media(max-width: 900px)
{
	.Account_Body {
		display: none;
	}
}

@media(max-height: 400px)
{
	.Account {
		bottom: 0;
	}

	.Tool_Bar {
		right: 0;
		top: 0;
		width: fit-content;
	}

	.Tool_Bar_Container {
		flex-direction: column;
		align-items: center;
		height: 100%;
	}
}
